.idea
.vscode
app
bin/
*.log
sdfs_data/
sdfs_data/*
*.exe
scripts/200mb.txt
scripts/500mb.txt
report_data/
scripts/generate_files.py
scripts/input_data_20.txt
scripts/input_data_25.txt
scripts/input_data_60.txt
/test/test_files/tcp_net_tests/send_file_large_test.txt
/test/test_files/tcp_net_tests/
/test/test_files/maplejuice_node_tests/maple_exe_word_count_test_data.txt
/test/test_files/maplejuice_node_tests/
/test/maplejuice/test.txt
/test.txt
/test/maplejuice/mapletask-1-1-some_prefix_/
